@font-face {
    font-family: 'Robotic';
    src: url('../assets/MechanismoRegular-p7ywa.otf') format('truetype');
}

@font-face {
    font-family: 'EightBit';
    src: url('../assets/EightBitDragon-anqx.ttf') format('truetype');
}


* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
   
}
.canvas {
    position: relative;
  }
  
video {
    position: absolute;
    top: 50px;
    left: 50px;
  }

#video1 {
    z-index:10;
  }

#video2 {
    z-index:9
  }


#next-button1 {
    z-index: 10;
}

#next-button2 {
    z-index: 9;
}