.notification-text {
    color: yellow;
    font-size:19px;
}
.notification-any-text {
    font-size:19px;
    margin-left: 20px;
}

#prompt3-good-noti {
    display: none;

}

#prompt3-bad-noti {
    display: none;

}



#prompt4-good-noti {
    display: none;
}

#prompt4-bad-noti {
    display: none;
}


#prompt5-good-noti {
    display: none;
}

#prompt5-bad-noti {
    display: none;
}


#prompt6-good-noti {
    display: none;
}

#prompt6-bad-noti {
    display: none;
}